@font-face {
    font-family: neonbines;
    src: url(./public_assets/NeonBines.ttf);
  }

html{
    background-color: #000000;
}

.column_name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0 0 7px white,
    0 0 25px #851075;
}


td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 7px white, 0 0 25px #851075;
}

tr {
    color: rgb(255, 255, 255);
    text-align: center;
    transition: box-shadow 0.5s ease; /* Ajout d'une transition */
}

tr:hover {
    animation: rainbow 6s infinite;
    background-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue);
    background-size: 600% 600%;
    border-radius: 10px; /* Ajout du border-radius */
    box-shadow: 0px 0px 30px rgb(199, 121, 255);
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}


a, a:hover, a:visited, a:active
{
	color:#ffffff;
	text-decoration:none;
}

body {
    /* background: url('public_assets/brique.webp') center/cover no-repeat; */
    margin: auto;
    padding: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    /* filter: brightness(1.2); */

}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.nom_tab{
        font-weight: bold;
        font-family: neonbines;
        font-size: 3em;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #851075,
        0 0 82px #851075,
        0 0 92px #851075,
        0 0 102px #851075,
        0 0 151px #851075;
        animation: flicker 10s infinite alternate;
        color: #fff;
    }


    @keyframes flicker {
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
          text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #851075,
            0 0 80px #851075,
            0 0 90px #851075,
            0 0 100px #851075,
            0 0 150px #851075;
        }
        20%, 24%, 55% {       
          text-shadow: none;
        }
    }
